CMakeLists.txt.user*
*.pro.user*
*~
build
Makefile*
.directory
*.stash
*.bin
*.exe
*.rpm
*.stash
tmp
sdk
*.dmg
*.app
3rdparty
*.tar*
*.deb
*.tgz
*.txz
*.zip
CHANGES
.DS_Store
deploy
mxe
Windows
Linux
Darwin
legal
build-*
