pasture
Cyan-mxe
mxe
inno6
tmp*
CMakeLists.txt.user*
*.pro.user*
*~
build
Makefile*
.directory
*.stash
*.bin
*.exe
*.rpm
*.stash
tmp
*.dmg
*.app
*.tar*
*.deb
*.tgz
*.txz
*.zip
*.7z
*.rpm
CHANGES
.DS_Store
