[Desktop Entry]
Name=Cyan
GenericName=Cyan
Comment=Pixel Editor
Categories=Graphics;Viewer;RasterGraphics;2DGraphics;Photography;
Exec=cyan %U
Icon=cyan
StartupNotify=true
Terminal=false
Type=Application
