[Desktop Entry]
Name=Lumina Power Settings
Comment=Lumina Power Settings
Icon=battery
Exec=lumina-power-settings
Terminal=false
Type=Application
Categories=Settings;
OnlyShowIn=Lumina;
StartupNotify=false
