[Desktop Entry]
Name=Cyan
GenericName=Cyan
Comment=Cyan Image Editor
Categories=Graphics;Viewer;RasterGraphics;2DGraphics;Photography;
Exec=Cyan %U
Icon=Cyan
StartupNotify=false
Terminal=false
Type=Application
MimeType=image/miff;
