[Desktop Entry]
Name=Cyan
GenericName=Cyan
Comment=Prepress Image Editor
Categories=Graphics;Viewer;RasterGraphics;2DGraphics;Photography;
Exec=Cyan %U
Icon=cyan
StartupNotify=false
Terminal=false
Type=Application
